<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container" >
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="">Madalina Mutihac</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
			  <a href="http://www.linkedin.com/in/madalinamutihac" target="_blank" >
				  <img src = "./img/header_icons/32/linkedin.png" title = "LinkedIn" /> 
			  </a>
		  </li>
		  
		  <li>
			  <a href="https://twitter.com/MadalinaMutihac" target="_blank">
				  <img src = "./img/header_icons/32/twitter.png" title = "Twitter" />     
			  </a>
		  </li>
		  
		  <li> 
			  <a href="http://www.flickr.com/photos/65143792@N06/" target="_blank">
			  	<img src = "./img/header_icons/32/flickr.png" title = "Flickr" />   
			  </a>  
	  	  </li>
        </ul>
      </div><!--/.nav-collapse -->

    </div> <!--/.container -->
  </div> <!--/.navbar-inner -->
</div> <!--/.navbar -->

<div class="container">
  <div class="hero-unit">
    <h1>Madalina Mutihac</h1>
    <p><strong><span style = "font-size:12px;">>> </span>a.k.a Madi </strong> - major coffee junkie, IT girl with a passion for technology, design and life.</p>
    <p>
	   <a href="./resume/MadalinaMutihac.pdf" class="btn btn-primary btn-large" target="_blank">Resume&raquo;</a>
	   <a href="http://www.linkedin.com/in/madalinamutihac" class="btn btn-primary btn-large" target="_blank">LinkedIn&raquo;</a>
    </p>
  </div>


  <!-- Example row of columns -->
  <div class="row" style="margin:auto; align: center;">
    <div class="span4" style = "width: 30%">
      <h2><img src="./img/me1.png" alt="Crazy me 1" width = "400"></h2>
      <p>There's various stuff about me online. Not much very interesting. But my flickr photos might tell some stories. </p>
      <p><a class="btn" href="http://www.flickr.com/photos/65143792@N06/" target = "_blank">Flickr stories&raquo;</a></p>
    </div>

    <div class="span4" style = "width: 30%">
      <h2><img src="./img/me2.png" alt="My coffee junkiness" width = "400"></h2>
      <p>One of the things that fuel me and that make my mornings bright and shiny is COFFEE. I read some
  original tips for a better coffee experience (thanks go to a friend of mine), if you keep reading. </p>
      <p><a class="btn" href="http://www.swansonvitamins.com/blog/kaitlins-blog/coconut-oil-coffee" target = "_blank">Coffee wonderland &raquo;</a></p>
   </div>

    <div class="span4" style = "width: 30%">
      <h2><img src="./img/me3.png" alt="Crazy me 3" width = "400"></h2>
      <p>Since 2009 I've been living in Norway. This has been a life changing step, that brought me
    closer to who I am and to what I want in my career.</p>
      <p><a class="btn" href="tobecontinued" >Read more about my adventures here &raquo;</a></p>
    </div>

  </div>

  <hr />

</div> <!-- /container -->

